/target/
/src/main/webapp/userfiles
/src/main/webapp/download
/src/main/webapp/static
/src/main/webapp/index.html
/logs/
myapp.log
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
