<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzd.model.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.wzd.model.entity.Article" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="pub_user" property="pubUser" jdbcType="CHAR" />
    <result column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="auditor" property="auditor" jdbcType="CHAR" />
    <result column="audit" property="audit" jdbcType="INTEGER" />
    <result column="aud_time" property="audTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
</mapper>