<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzd.model.mapper.ExportDetailMapper">
	<resultMap id="BaseResultMap" type="com.wzd.web.dto.ExportDetail">
		<id column="id" jdbcType="CHAR" property="id" />
		<result column="num" property="num" />
		<result column="exportId" property="exportId" />
		<result column="name" property="name" />
		<result column="category" property="category" />
		<result column="spec" property="spec" />
		<result column="unit" property="unit" />
		<result column="business" property="business" />
		<result column="unitPrice" property="unitPrice" />
		<result column="number" property="number" />
		<result column="level" property="level" />
		<result column="spec2" property="spec2" />
		<result column="barCode" property="barCode" />
		<result column="manufacturer" property="manufacturer" />
		<result column="placeOfOrigin" property="placeOfOrigin" />
		<result column="remark" property="remark" />
		<result column="serialNumber" property="serialNumber" />
		<result column="url" property="url" />
		<result column="type" property="type" />
		<result column="agentName" jdbcType="VARCHAR" property="agentName" />
		<result column="agentId" jdbcType="VARCHAR" property="agentId" />
	</resultMap>

	<select id="findTenderResult" resultMap="BaseResultMap">
		select t1.*,t3.endTime from bj_export_detail t1 inner join
		(select a.num,min(a.createTime) createTime from bj_export_detail a inner join
		(select num , min(unitPrice) unitPrice from bj_export_detail WHERE exportId = #{exportId}
		 group by num) b
		on a.num = b.num and a.unitPrice = b.unitPrice  GROUP BY a.num) t2 on t1.num = t2.num and t1.createTime =
		t2.createTime inner join bj_export t3 ON t1.exportId = t3.id
		ORDER BY t1.num ASC
	</select>
</mapper>